sudo: false
language: go

addons:
  postgresql: "9.4"

go:
  - 1.8.x
  - 1.9.x
  - 1.10.x
  - tip

matrix:
  allow_failures:
    - go: tip

install:
  - go get github.com/go-pg/pg
  - go get github.com/onsi/ginkgo
  - go get github.com/onsi/gomega
